.select-plan {
  position: relative;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  cursor: pointer;
  gap: 1.5rem;
  box-sizing: border-box;
}

.pay-option {
  border: 1px solid hsl(229, 24%, 87%);
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 100px auto auto;
  transition: border-color .15s; /*why this line isn't working*/
}

.pay-option:hover {
  border-color: hsl(213, 96%, 18%);
}

.option-title {
  font-weight: bold;
}

.changed-border {
  border: 1px solid hsl(213, 96%, 18%);
}