@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: hsl(217, 100%, 97%);
  display: grid;
  place-items: center;
  font-family: "Ubuntu";
}

a {
  color: white;
  text-decoration: none;
}

.container {
  background-color: hsl(231, 100%, 99%);
  /* background-color: hsl(0, 0%, 100%); */
  display: grid;
  grid-template-columns: auto auto;
  place-self: center;

  width: 59rem;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 1.5rem;
}